.container{
    margin: auto;
    width: 50%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.container button{
    padding: 20px;
    margin: auto;
}